### Authenticate to the GIS

In [14]:
# Establish my GIS
import arcgis
from IPython.display import display
import getpass
import os
import pandas as pd

In [2]:
portals_dict = {
    "esrifederal_gis": r"https://esrifederal.maps.arcgis.com",
    "natgov_gis": r"http://esri-natgov105.eastus.cloudapp.azure.com/arcgis",
    "dot_gis": r"http://dot.esri.com/portal",
    "dev_gis": r"http://govdev.eastus.cloudapp.azure.com/arcgis",
    "local_gis": r"https://anieto.esri.com/arcgis"
}

In [6]:
gis_url = portals_dict["dev_gis"]

In [7]:
gis_username = getpass.getpass(prompt="Username: ")

Username: ········

In [8]:
gis_pw = getpass.getpass(prompt="Password: ")

Password: ········

In [9]:
gis = arcgis.gis.GIS(gis_url, gis_username, gis_pw, verify_cert=False)

### Build my user object and user name lists

In [11]:
userobj_list = gis.users.search()
userobj_list

[<User username:anieto>,
 <User username:brandon.might>,
 <User username:brandon.strohl>,
 <User username:bstayer>,
 <User username:dattaway>,
 <User username:esri_boundaries>,
 <User username:esri_demographics>,
 <User username:esri_livingatlas>,
 <User username:esri_nav>,
 <User username:IndianaDOT_User>,
 <User username:jeffrey.beal>,
 <User username:jon.nystrom>,
 <User username:juhen.yoon>,
 <User username:julia.hink>,
 <User username:lana.lau>,
 <User username:OhioDOT_User>,
 <User username:PortalAdmin>,
 <User username:rjavaraman>,
 <User username:saady.palma>,
 <User username:sarah.nieto>,
 <User username:shawn.howell>,
 <User username:system_publisher>,
 <User username:timothy.drager>,
 <User username:tom.oaks>]

In [13]:
usernames_list = [user.username for user in gis.users.search()]
usernames_list

['anieto',
 'brandon.might',
 'brandon.strohl',
 'bstayer',
 'dattaway',
 'esri_boundaries',
 'esri_demographics',
 'esri_livingatlas',
 'esri_nav',
 'IndianaDOT_User',
 'jeffrey.beal',
 'jon.nystrom',
 'juhen.yoon',
 'julia.hink',
 'lana.lau',
 'OhioDOT_User',
 'PortalAdmin',
 'rjavaraman',
 'saady.palma',
 'sarah.nieto',
 'shawn.howell',
 'system_publisher',
 'timothy.drager',
 'tom.oaks']

### Create a Pandas dataframe

In [15]:
df = pd.DataFrame()

In [16]:
df['usernames'] = usernames_list

In [17]:
pd.DataFrame()

            usernames
0              anieto
1       brandon.might
2      brandon.strohl
3             bstayer
4            dattaway
5     esri_boundaries
6   esri_demographics
7    esri_livingatlas
8            esri_nav
9     IndianaDOT_User
10       jeffrey.beal
11        jon.nystrom
12         juhen.yoon
13         julia.hink
14           lana.lau
15       OhioDOT_User
16        PortalAdmin
17         rjavaraman
18        saady.palma
19        sarah.nieto
20       shawn.howell
21   system_publisher
22     timothy.drager
23           tom.oaks